.header {
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  font-family: 'Circle Font', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3125rem);
  .content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		max-width: 60rem;
		margin: 0 auto;
		.nav_btn {
			display: flex;
			align-items: center;
			padding: 0 0.625rem;
			cursor: pointer;
			.icon {
				height: 1.3rem;
				width: 1.3rem;
			}
		}
		.avatar {
			width: 2rem;
			height: 2rem;
			margin-left: auto;
			margin-right: 0.5rem;
			border-radius: 50%;
			background-image: url("https://verivista.oss-cn-beijing.aliyuncs.com/avatar/default_avatar.png");
			background-size: cover;
			background-position: center;
		}
	}
}
