.header {
  height: 3rem;
  font-size: 1rem;
  line-height: 3rem;
  font-family: 'Circle Font', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3125rem);
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    .nav_btn {
      display: flex;
      align-items: center;
      padding: 0 0.625rem;
      cursor: pointer;
      .icon {
        height: 1.3rem;
        width: 1.3rem;
      }
    }
    .operation {
      margin-left: auto;
      margin-right: 0.5rem;
      .login_btn {
        width: 4rem;
        height: 2rem;
        border-radius: 0.5rem;
        position: relative;
        text-align: center;
        line-height: 2rem;
        background: rgba(0, 0, 0, 0.4);
        overflow: hidden;
        cursor: pointer;
      }
      .avatar {
        background-image: url('https://verivista.oss-cn-beijing.aliyuncs.com/avatar/default_avatar.png');
        background-size: cover;
        background-position: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }
  }
}
.menu {
  .menuItem {
    font-family: 'Circle Font', sans-serif;
  }
}
